body {
	background-color: pink; /*Pinta el fondo rosa*/
}

#contenido{
	background-color: white; /*Pinta el fondo blanco*/
	width: 300px; /* Define el ancho de la caja*/
	padding: 30px; /* Define el espacio que hay entre el borde y el contenido de la cajita*/
	margin: 100px auto; /* Define el espacio libre que hay alrededor de la cajita*/
	font-family: Arial, Helvetica, sans-serif; /* Define la tipografía*/

}